@import url('https://fonts.cdnfonts.com/css/godofwar');

body{
    background-color: rgb(255, 255, 255) ;
    background-position: center;
    background-attachment: fixed;
    padding-left: 10%;
    padding-right: 10%;
}

.font {
    font-family: 'GodOfWar';
}

.title {
    font-family: 'GodOfWar';
    text-align: center;
    display: block;
    background-color: #3a3a3a;
    color: rgb(255, 255, 255);
    
}

h2 {
    color: rgb(119, 119, 119);
}

.p1 {
    font-size: 20px;
    padding-left: 22%;
    color: rgb(0, 0, 0);
    text-align: justify;
    
    
}

.desc {
    padding-top: 30%;
}

.ins {
    width: 800px;
    animation: appear 0.5s linear;

}

.ins2 {
    position: absolute;
    top: 63%;
    left: 60%;
    width: 400px;
    animation: appear 0.5s linear;

}

.imagenyo {
    --lado: 10rem;
    --alto: 20rem;
    width: var(--alto);
    height: var(--lado);
    background-color: #383838;
    position: absolute;
    top: 33%;
    left: 10%;
    width: 300px;
    animation: appear 0.5s linear;

}

header nav {
    position: relative;
    display: grid;
    gap: 35px;
}


header nav a {
    font-family: 'GodOfWar';
    font-size: 1.5rem;
    transition: 0.3s;
    color: rgb(0, 0, 0);
    display: inline-block;
    text-align: center;
    animation: slide 1s;
}

header nav a:hover {
    transform: scale(1.2);
    color: rgb(68, 37, 182);
}

footer {
    font-family: 'GodOfWar';
    display: block;
    text-align: right;
    background-color: #2e2e2e;
    color: rgb(255, 255, 255);
    bottom:0;
}
footer a{
    font-family: 'GodOfWar';
    color: rgb(255, 255, 255);
}

.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 80px;
  }

  .actcss {
    color: blue;
  }

  .web {
    color: orangered;
  }
  .center {
    text-align: center;
    margin-top: 70px;
  }

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slide {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}

.slide {
    animation-name: slide;
    animation-duration: 1s;
}

  .imganim {
    animation: appear 0.5s linear;
  }

  .imganim2 {
    animation: appear 0.5s linear;
  }

  .imganim2:hover {
    transform: scale(1.2);
  }

  ol {
    font-size: 30px;
    color: rgb(0, 0, 0);

}
