@import url('https://fonts.cdnfonts.com/css/godofwar');

body{
    background-color: rgb(255, 255, 255) ;
    background-position: center;
    background-attachment: fixed;
    padding-left: 10%;
    padding-right: 10%;
}

.title {
    font-family: 'GodOfWar';
    text-align: center;
    display: block;
    background-color: #3a3a3a;
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(119, 119, 119);
}

.p1 {
    font-size: 20px;
    padding-left: 22%;
    color: rgb(0, 0, 0);
    text-align: justify;
    
    
}

.desc {
    padding-top: 30%;
}

.ins {
    width: 800px;
}

.ins2 {
    position: absolute;
    top: 63%;
    left: 60%;
    width: 400px;
}

.imagenyo {
    --lado: 10rem;
    --alto: 20rem;
    width: var(--alto);
    height: var(--lado);
    background-color: #383838;
    position: absolute;
    top: 33%;
    left: 10%;
    width: 300px;
}

header nav {
    position: relative;
    display: grid;
    gap: 35px;
}


header nav a {
    font-family: 'GodOfWar';
    font-size: 1.5rem;
    transition: 0.3s;
    color: rgb(0, 0, 0);
    display: inline-block;
    text-align: center;
}

header nav a:hover {
    transform: scale(1.2);
    color: rgb(68, 37, 182);
}

footer {
    font-family: 'GodOfWar';
    display: block;
    text-align: right;
    background-color: #2e2e2e;
    color: rgb(255, 255, 255);
    bottom:0;
}
footer a{
    font-family: 'GodOfWar';
    color: rgb(255, 255, 255);
}