.title {
    font-size: 1rem;
    font-size: 0.5rem;
    font-size: 2rem;
    font-size: 3.2rem;
}

.sub {
    font-size: 0.5rem;
    font-size: 0.5rem;
    font-size: 0.5rem;
    font-size: 1.6rem;
}

.txt {
    font-size: 0.5rem;
    font-size: 0.5rem;
    font-size: 0.5rem;
    font-size: 1.3rem;
}

.price {
    font-size: 1.5rem;
    font-size: 1.5rem;
    font-size: 1.5rem;
    font-size: 3.3rem;
}
